

.board{
    display: flex;
    flex-direction: column;
    background-color: black;
    border: solid 20px rgb(203, 239, 203);
}

.row{
    display: flex;
    justify-content: center;
    background-color: black;

}
.brick{
  background-color: red;
  padding: 1em 2em;
  margin: .25em .25em;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}